* {
  user-select: none; /* 兼容大多数浏览器 */
  -webkit-user-select: none; /* 针对Webkit浏览器 */
  -moz-user-select: none; /* 针对Firefox浏览器 */
  -ms-user-select: none; /* 针对IE浏览器 */
}

body {
  background-color: black;
}

.container {
  margin: 0 auto;
}

.bt {
  outline: none;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 4px auto;
  /* transition: color 0.3s, border 0.3s ease-out; */
  /* -webkit-transition: color 0.3s, border 0.3s ease-out; */
}

.bt:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
}

.bt_group {
  margin: 0.5em auto;
  /* border: 1px solid red; */
}

.box {
  background-color: rgba(210, 222, 252, 1);
  margin: 0.5em auto;
  /* border: 1px solid red; */
}